*{
  margin: 0%;
  padding: 0;
}

body{
  font-family:  "Roboto";
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 120px;
    margin-right: 120px;


}

.Logo{
  width: 100px;
  height: 80px;
}

.Burger{
  display: none;
}

form {
    width: auto;
    float: right;
    margin-right: 30px;
    margin: 0 auto;

  }
input {
    width: 50%;
    height: 40px;
    padding-left: 15px;
    border: none;
    background: white;
    outline: none;
    position: relative;
    transition: .3s linear;
    font-size: 1.2rem;

  }

  .loop{

    margin-left: 20px;
    padding-top: px;
  }

  .d7{
    width: 590px;
    border: 2px solid black;
    border-radius: 42px;
  }

.signIn{
    width: 183px;
    height: 44px;
    border-radius: 100px;
    color: #FA824C;
    border: 2px solid #FA824C;
    background-color: white;
    font-size: 1.2rem;

    }

.logIn{
      width: 183px;
      height: 44px;
      border-radius: 100px;
      color: #0267C1;
      border: 2px solid #0267C1;
      background-color: white;
      font-size: 1.2rem;
  
    }

main{
  display: flex;
  justify-content: space-between;
  margin: 220px;
  margin-top: 45px;
}

.Filtr{
  height: 510px;
  width: 285px;

}

.Filtr2{
 display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Filtr1{
  display: flex;
   padding-top: 20px;
   padding-bottom: 20px;
   border: 2px solid black;
 }
 

.Filtr11{
  display: flex;
   padding-top: 20px;
   padding-bottom: 20px;
   border: 2px solid black;
 }

.arrow{
  margin-right: 5px;
}

.arrow1{
  margin-right: 5px;
}

.arrow2{
  margin-right: 5px;
}

.arrow3{
  margin-right: 5px;
}



.rotate {
  transform: rotate(180deg);
}

.Filtr2{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}


.txt1{
  font-size: 1.4rem;
  margin: 0 auto;
  padding-left: 30px;
  flex-grow: 1;
  text-align: center;
}


.txt{
  font-size: 1.4rem;
  margin: 0 auto;

  flex-grow: 1;
  text-align: center;
}

.states{
  justify-content: space-between;
  width: 70%;
}

.state{
  margin-left: 20px;
  width: 90%;
  height: 270px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px;

}



.head{
  border-bottom: 2px solid black;
  height: 40px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items:center;
}



.img{
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  background-color: #FA824C;
  margin-bottom: 0;
  margin-top: auto;

}

.Avatar{
  height: 30px;
  width: 30px;
  border-radius: 20px;


}

span{
  padding-top: 5px;
  padding-left: 5px;
  font-size: 0.85rem;
}

.dot{
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: #656060 ;
  margin: 5px;
  margin-top: 13px;

}

.popup {
  display: none;
  position: absolute;
  top: 150px;
  left: 87%;
  transform: translateX(-50%);
  width: 100px;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
}
.close-btn {
  float: left;
  cursor: pointer;
}

.myButton{
  width: 90px;
  height: 20px;
  border-radius: 20px;
  border: 2px solid #0267C1;
  background-color: #0267C1;
  color: white ;
  font-size: 0.65rem;
  cursor: pointer;
}

.myText{
  display: none;
  font-size: 0.8rem;
  color: #656060;
  cursor: pointer;
}

.buttons{
  margin-right: 10px;
  margin-left: auto;
  display: flex;
}

.SDS{
  height: 10px;
}

.state_body{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.report{
  display: flex;
  margin-bottom: 6px;
  margin-top: auto;
  margin-left: 10px;
  cursor: pointer;

}


.dott{
  width: 6px;
  height: 6px;
  background-color: #656060 ;
  display: flex;
  border-radius: 5px;
  margin-right: 2px;


}

.H{
  font-size: 1.5rem;
}

.H1{
  font-size: 0.9rem;
  padding-top: 10px;
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: 120px;
  margin-right: 120px;
}

.foot{
  text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .signIn{
    width: 100px;
    height: 44px;
    border-radius: 100px;
    color: #FA824C;
    border: 2px solid #FA824C;
    background-color: white;
    font-size: 1.2rem;

    }

  .logIn{
      width: 100px;
      height: 44px;
      border-radius: 100px;
      color: #0267C1;
      border: 2px solid #0267C1;
      background-color: white;
      font-size: 1.2rem;
  
    }

    .d7{
      width: 400px;
      border: 2px solid black;
      border-radius: 42px;
    }

  form {
      width: 350px;
      float: right;
      margin-right: 30px;
      margin: 0 auto;
  
    }
  input {
      width: 150px;
      height: 40px;
      padding-left: 15px;
      border: none;
      background: white;
      outline: none;
      position: relative;
      transition: .3s linear;
      font-size: 1.2rem;
      float: right;
      margin-right: 25px;
  
    }
  
  .loop{
  
      margin-left: 20px;
  }
      
  main{
        display: flex;
        justify-content: space-between;
        margin: 150px;
        margin-top: 45px;
 }

 header{
  margin-left: 100px;
  margin-right: 100px;


}

footer{
  margin-left: 100px;
  margin-right: 100px;

}

}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .d7{
    display: none;
  }

  .signIn{
    display: none;
  }

  .logIn{
    display: none;
  }

  .Filtr{
    display: none;
  }

  .Burger{
    display: block;
  }

  header{
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
  }

  main{
    margin-top: 50px;
    margin-left:0  !important;
    margin-right:0  !important;
    padding: 0;
  }

  .state{
    width: 320px;
    height: 600px;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .states{
    vertical-align: middle;
    width: auto;
  }

}


/*Enter.html*/

.body{
  overflow-y: hidden;
}

.log{
  width: 590px;
  height: 450px;
  border: 2px solid black;
  border-radius: 20px;


}

.main{
  display: flex;
  justify-content: center;
}

.h1{
  font-size: 24px;
  margin-left: 60px;
  margin-top: 60px;
}

.text{
  font-size: 14px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
}

.PC{
  color: #FA824C;
}

.PS{
  color: #0267C1;
}

.Login{
  width: 75%;
  height: 36px;
  border: 2px solid #FA824C;
  border-radius: 20px;
  color: #FA824C;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 25px;
}
.Pass{
  width: 75%;
  height: 36px;
  border: 2px solid #0267C1;
  border-radius: 20px;
  color: #0267C1 !important;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.log_button{
  width: 75%;
  height: 36px;
  margin-top: 40px;
  border: 1px solid #0267C1;
  border-radius: 20px;
  margin-left: 60px;
  margin-right: 60px;
  color: white;
  background-color: #0267C1;

}

/*PersonalAccount.html*/

.Mains{
  display: flex;
  flex-direction: column;

}

.account{
  width: 1100px;
  height: 228px;
  border-bottom: 2px solid black;
  padding-left: 60px;
  font-size: 24px;
  flex-wrap: wrap;
}

.NK{
  font-size: 20px;
}

.account2{
  align-items: center;
  display: flex;

}

.PersonalImg{
  width: 82px;
  height: 82px;
  border-radius: 200px;

}

.Camera{
  position:relative;
  right: 30px;
}

.Category{
  border: 2px solid black;
  border-radius: 20px;
  padding: 2.5px 10px;
  background-color: white;
  margin-right: 20px;
  font-size: 19px;
  flex-wrap: wrap;
}

.Public{
  border: 2px solid #FA824C;
  border-radius: 20px;
  padding: 2.5px 10px;
  background-color: white;
  margin-right: 20px;
  font-size: 19px;
  color:#FA824C;
  margin-top: 20px;
}

.PublImg{
  width: 253px;
  height: auto;
  display: block;
  margin: 0 auto; 
  padding-top: 20px;


}
